/node_modules
/public/hot
/public/app.js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/debugbar
/public/js/app.js
/resources/assets/sass/_vendors.scss
config/endpoints.php
/config/endpoints.js
config/endpoints.js
public/app.js