$color-white: #fff;
$color-black: #000;
$color-primary: #acacac;
$color-main-bgr: #f0f0f0;
$color-error: #d52904;

$color-sidebar-bgr: #343a40;
$color-highlight: #2cb1d9;
$color-underline: #808080;

$color-link: #d9d9d9;
$color-link-hovered: $color-white;

$color-btn-bgr: #0191f7;
$color-btn-text: $color-white;

$sidebar-width: 20rem;
$table-header-height: 3rem;

$virtual-scroller-top: 11rem;

$border-color: #c9c9c9;

$success-background: #6cc570;
$error-background: #ff383d;
