@media (max-width: 992px){

  //Navigation
  .burgerContainer {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem 0;

  }

  .burgerContainer.openBurger{
    margin-left:25rem;
  }

  .bar1, .bar2, .bar3 {
    width: 3.5rem;
    height: 0.5rem;
    background-color: #333;
    margin: 0.6rem 0;
    transition: 0.4s;
  }

  .bar1.change {
    -webkit-transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
    transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
  }

  .bar2.change {opacity: 0;}

  .bar3.change {
    -webkit-transform: rotate(45deg) translate(-0.8rem, -0.8rem);
    transform: rotate(45deg) translate(-0.8rem, -0.8rem);
  }

  aside.main-sidebar.sidebar-dark-primary.elevation-4.openNav{
    margin-left:0;
  }

  //Dashboard Colour Widgets
  .homeView .col-lg-3 {
    max-width:33%;

  }

//  Product Edit/Creation Page
  .inventoryEditCreation__container {
    input, textarea{
      width:100% !important;
    }

  }

  .productOverviewContainter{
    textarea{
      width:100% !important;
      height:10rem;
    }

    label{
      vertical-align: top;
    }

  }
}